.blueprintContainer {
    height: 100%;
    width: 100%;
    text-align: center;
}

.blueprintImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.zoomIn {
    cursor: zoom-in;
}

.zoomOut {
    cursor: zoom-out;
}