.overviewContainer {
    text-align: center;
}

.card {
    width: 300px;
    display: inline-block;
    text-align: left;
}

.cardDate {
    font-size: small;
    font-style: italic;
    color: gray;
}